/* * {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.navbar {
    width: 100%;
    position: fixed;
    background-color: white;
    opacity: 85%;
}
.logo {
    width: 60px;
    float: left;
    margin-left: 50px;
}
.navbar-ul{
    overflow: hidden;
    display: block;
    margin: 0;
    list-style: none;
    font-size: 17px;
}
li {
    margin: 10px;
    margin-right: 100px;
    float: right;
    padding-top: 10px;
}

.header {
    padding-left: 110px;
    padding-top: 40px;
    float: left;
    background-color: #474E68;
    margin-bottom: 50px;
}

.header .hello-skills {
    font-size: 20px;
    margin: 10px;
}
.header .hello {
    margin-top: 140px;
    font-size: 25px;
    color: #FFF2D8;
}
.header .hello2{
    font-size: 25px;
    color: #FFF2D8;
}
.header  .name {
    font-size: 50px;
}
.header img {
    width: 420px;
    margin-left: 10px;
    float: right;
}

.keahlian {
    margin-bottom: 50px;
}

.keahlian .head-skills{
    font-size: 30px;
    text-align: center;
}
.divisi-skills {
    flex-wrap: wrap;
    display: flex;
    margin-left: 330px;
    text-align: center;
}
.keahlian img{
    width: 45px;
}
.col {
    float: left;
    margin:45px;
}
.keahlian .body-img{
    padding-top: 12px;  
}
.penghargaan{
    margin-bottom: 50px;
}
.penghargaan .head-ach p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
.row-ach {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}

.col-ach{
    float: left;
}

.left {
    width: 550px;
}
.left p {
    font-size: 23px;
    text-align: center;

}
.right p {
    font-size: 23px;
    text-align: center;

}
.right{
    width: 550px;
} */

* {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
.navbar {
  width: 100%;
  position: fixed;
  z-index: 3;
  color: white;
  /* opacity: 85%; */
  backdrop-filter: blur(50px);
  background: rgba(68, 79, 113, 0.8);
  transition: 0.3s;
  visibility: visible;
  height: 4rem;
}
.navbar-ul {
  margin: 0;
  list-style: none;
  font-size: 17px;
  right: -500%;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 100%;
  transition: 0.3s;
  z-index: 4;
  align-items:center;
}
.navbar-ul.change {
  right: 0;
  transition: 0.3s;
}


.burger {
  z-index: 2;
  display: relative;
  margin-bottom: 4rem;
  margin: 10px;
  float: right;
  display: block;
  cursor: pointer;
  z-index: 2;
  margin-right: 8%;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.1s;
  border-radius: 5px;
}
.bar2 {
  width: 20px;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
  background-color: #000;
}
.change .bar2 {
  opacity: 0;
  background-color: #000;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -8px);
  transform: rotate(45deg) translate(-7px, -8px);
  background-color: #000;
}

.logo {
  width: 60px;
  float: left;
  margin-left: 7%;
}

.bg-navbar {
  top: 100%;
  z-index: 2;
  right: -100%;
  bottom:-1000%;
  width: 100%;
  position: fixed;
  background: rgba(68, 79, 113, 0.8);
  transition: 0.1s;
  visibility: hidden;
}

.bg-navbar.change {
  right: 0;
  visibility: visible;
  display: block;
  transition: 0.1s;
}

li {
  margin: 10px;
  margin-right: 100px;
  float: right;
  padding-top: 10px;
}

li a {
  text-decoration: none;
  color: white;
}
li a:hover {
  color: #fff2d8;
}
.header {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  /* display: flex;
  flex-direction: row; */
  /* float: left; */
  /* background-color: #474E68; */
  background-image: linear-gradient(to bottom right, #414d73, #313a4d);
  /* margin-bottom: 50px; */
  height: max-content;
}

.header .hello-skills {
  /* font-size: 1.2rem; */
  font-size: 90%;

  /* margin: 9px 0px; */
}
.header .hello {
  /* margin-top: 100%; */
  font-size: 90%;
  color: #fff2d8;
}
.text-about {
  margin-top: 7%;
  padding-bottom: 5%;
}
.header .hello2 {
  font-size: 90%;
  color: #fff2d8;
}
/* .header .ul-job {
  margin-left: -44px;
  /* width: 1000px; */

.header .name {
  /* font-size: 50px; */
  font-size: 100%;
  /* margin-left: 7%; */
}
/* .header .job {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  /* float: left; */
/* width: 309px; */
.header .photos {
  width: 30%;
  margin-left: 10px;
  height: auto;
  display: none;

  /* float: right; */
}

.header .photos2 {
  /* margin-left: 20%; */
  padding-top: 50px;
  /* padding-bottom: -20px; */
  border-radius: 40%;
  width: 200px;
}
.keahlian {
  color: white;
  background-color: #262e41;
  padding: 50px 0;
}

.keahlian .head-skills {
  font-size: 40px;
  text-align: center;
}
.divisi-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.keahlian img {
  width: 55px;
  margin: 5px;
  display: inline;
}
.row {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 1100px; */
  /* margin-left: 155px; */
  width: 70%;
}
.col {
  /* float: left; */
  margin: 45px;
  color: black;
  width: 160px;
  border-radius: 5px;
  background-color: #fff2d8;
}
.col p {
  padding-bottom: 5px;
  font-size: 23px;
  padding-bottom: 10px;
}

.inside {
  width: 90%;
  padding: 2%;
  border: 3px solid white;
  border-radius: 3rem;
  height: max-content;
}
.penghargaan {
  padding-left: 5%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  height: max-content;
  background-image: linear-gradient(to bottom right, #444f71, #303f5f);
}
.penghargaan .head-ach p {
  text-align: center;
  color: black;
  border-radius: 50px;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 30px;
  /* position: relative; */
  background-color: #fff2d8;
  margin-top: -60px;
  /* width: max-content; */
}
.row-ach {
  display: flex;
  /* flex-wrap: wrap; */
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  /* width: 1400px; */
}

.col-ach {
  /* width: 50%; */
  /* float: left; */
  margin: auto;
  padding-right: 10%;
}
.col-ach p {
  text-align: center;
  /* text-align: center; */
  font-size: 15px;
  /* padding-left: 80px; */
  padding-top: 20px;
}

.col-ach li {
  font-size: 80%;
}
#contact {
  padding-left: 150px;
  padding-top: 50px;
  background-color: #262e41;
  padding-bottom: 60px;
}
#contact .head-cont {
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: white;
}

.mainContact {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
}
form {
  /* position: relative; */
  width: 48%;
  font-size: 1.4rem;
}
form label {
  color: white;
  font-weight: 500;
  background: #262e41;
  padding: 0 0.4rem;
  position: relative;
  bottom: -10px;
  left: 40px;
}
form input,
textarea,
button {
  color: #fff2d8;
  margin-bottom: 2rem;
  width: 80%;
  padding: 1.5rem 2rem;
  border: 3px solid white;
  border-radius: 3rem;
  background-color: #262e41;
  font-family: "Poppins", sans-serif;
}
form input:focus,
textarea:focus {
  outline: none;
}
form button {
  font-size: 1.2rem;
  color: black;
  font-weight: 300;
  border: 3px solid #fff2d8;
  padding: 1rem;
  background: #fff;
  margin-top: 1rem;
  width: 250px;
  cursor: pointer;
  transition: 0.4s;
}
form button:hover {
  box-shadow: 0 0 0 4px #fff2d8;
}
.sosmed {
  margin-top: 30px;
  /* margin-left: 10%; */
  width: 35%;
  height: 200px;
  border-radius: 50px;
  border: 3px solid white;
  background-color: white;
  padding: 1.5rem;
  padding-top: 2rem;
}

.sosmed p {
  float: right;
}

.sosmed-col {
  float: left;
  color: black;
}
.sosmed-col img {
  float: left;
  margin-bottom: 20px;
}
.sosmed .ig {
  width: 2rem;
  margin-right: 20px;
}
.sosmed .github {
  width: 3rem;
  margin-left: -10px;
  margin-right: 10px;
}
.sosmed .gmail {
  margin-right: 20px;
  width: 2rem;
}

/* //transicition js */
.hidden {
  opacity: 0;
  transition: all 3s;
}

.scrolled-right {
  transform: translateX(-30%);
  opacity: 0;
  transition: all 1s;
}
.scrolled-left {
  transform: translateX(-30%);
  opacity: 0;
  transition: all 1s;
}
.photos {
  transform: translateY(20%);
  opacity: 0;
  transition: all 2s;
}
.show {
  opacity: 1;
  transform: translateX(0);
}

/* @media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
} */
